<a href="https://colab.research.google.com/github/DillliBabu/mckinsey/blob/main/Mckinsey_Project_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mckinsey Dataset Project

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = "https://raw.githubusercontent.com/DillliBabu/mckinsey/refs/heads/main/mckinsey.csv"
output_file = "mckinsey.csv"
df=pd.read_csv(url)

In [ ]:
df.head(5)

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [ ]:
#Filter all records where continent is Asia
df[df['continent']=='Asia'].head(11)

        country  year  population continent  life_exp     gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801  779.445314
1   Afghanistan  1957     9240934      Asia    30.332  820.853030
2   Afghanistan  1962    10267083      Asia    31.997  853.100710
3   Afghanistan  1967    11537966      Asia    34.020  836.197138
4   Afghanistan  1972    13079460      Asia    36.088  739.981106
5   Afghanistan  1977    14880372      Asia    38.438  786.113360
6   Afghanistan  1982    12881816      Asia    39.854  978.011439
7   Afghanistan  1987    13867957      Asia    40.822  852.395945
8   Afghanistan  1992    16317921      Asia    41.674  649.341395
9   Afghanistan  1997    22227415      Asia    41.763  635.341351
10  Afghanistan  2002    25268405      Asia    42.129  726.734055

In [ ]:
# Filter all records for the year 2007.
df[df['year']==2007].head(11)

         country  year  population continent  life_exp       gdp_cap
11   Afghanistan  2007    31889923      Asia    43.828    974.580338
23       Albania  2007     3600523    Europe    76.423   5937.029526
35       Algeria  2007    33333216    Africa    72.301   6223.367465
47        Angola  2007    12420476    Africa    42.731   4797.231267
59     Argentina  2007    40301927  Americas    75.320  12779.379640
71     Australia  2007    20434176   Oceania    81.235  34435.367440
83       Austria  2007     8199783    Europe    79.829  36126.492700
95       Bahrain  2007      708573      Asia    75.635  29796.048340
107   Bangladesh  2007   150448339      Asia    64.062   1391.253792
119      Belgium  2007    10392226    Europe    79.441  33692.605080
131        Benin  2007     8078314    Africa    56.728   1441.284873

In [ ]:
# Find all recods  where life_exp is greater than 70.
df[df['life_exp']>70].head(11)

      country  year  population continent  life_exp       gdp_cap
18    Albania  1982     2780097     India    70.420   3630.880722
19    Albania  1987     3075321     India    72.000   3738.932735
20    Albania  1992     3326498     India    71.581   2497.437901
21    Albania  1997     3428038     India    72.950   3193.054604
22    Albania  2002     3508512     India    75.651   4604.211737
23    Albania  2007     3600523     India    76.423   5937.029526
34    Algeria  2002    31287142     India    70.994   5288.040382
35    Algeria  2007    33333216     India    72.301   6223.367465
55  Argentina  1987    31620918     India    70.774   9139.671389
56  Argentina  1992    33958947     India    71.868   9308.418710
57  Argentina  1997    36203463     India    73.275  10967.281950

In [ ]:
# Find countries with gdp_cap greater than 10,000.
df[df['gdp_cap']>10000]['country']

53      Argentina
57      Argentina
59      Argentina
60      Australia
61      Australia
          ...
1637    Venezuela
1638    Venezuela
1640    Venezuela
1641    Venezuela
1643    Venezuela
Name: country, Length: 392, dtype: object

In [ ]:
#Filter records where population is more than 100 million.
df[df['population'] > 100000000].head(11)

        country  year  population continent  life_exp      gdp_cap
103  Bangladesh  1987   103764241     India    52.819   751.979403
104  Bangladesh  1992   113704579     India    56.018   837.810164
105  Bangladesh  1997   123315288     India    59.412   972.770035
106  Bangladesh  2002   135656790     India    62.013  1136.390430
107  Bangladesh  2007   150448339     India    64.062  1391.253792
172      Brazil  1972   100840058     India    59.504  4985.711467
173      Brazil  1977   114313951     India    61.489  6660.118654
174      Brazil  1982   128962939     India    63.336  7030.835878
175      Brazil  1987   142938076     India    65.205  7807.095818
176      Brazil  1992   155975974     India    67.057  6950.283021
177      Brazil  1997   168546719     India    69.388  7957.980824

In [ ]:
#Sort the dataset by life_exp in descending order.
df['life_exp'].sort_values(ascending=False).head(11)

803     82.603
671     82.208
802     82.000
695     81.757
1487    81.701
670     81.495
71      81.235
1427    80.941
1475    80.884
767     80.745
801     80.690
Name: life_exp, dtype: float64

In [ ]:
#Sort the dataset by gdp_cap in ascending order.
df['gdp_cap'].sort_values(ascending=True).head(11)

334     241.165876
335     277.551859
876     298.846212
624     299.850319
333     312.188423
492     328.940557
1044    331.000000
877     335.997115
204     339.296459
493     344.161886
1052    347.000000
Name: gdp_cap, dtype: float64

In [ ]:
#Select only country, year, and life_exp columns.
df[['country','year','life_exp']].head(11)

        country  year  life_exp
0   Afghanistan  1952    28.801
1   Afghanistan  1957    30.332
2   Afghanistan  1962    31.997
3   Afghanistan  1967    34.020
4   Afghanistan  1972    36.088
5   Afghanistan  1977    38.438
6   Afghanistan  1982    39.854
7   Afghanistan  1987    40.822
8   Afghanistan  1992    41.674
9   Afghanistan  1997    41.763
10  Afghanistan  2002    42.129

In [ ]:
#Find all records for India.
df[df['country']=='India'].head()

    country  year  population continent  life_exp     gdp_cap
696   India  1952   372000000     India    37.373  546.565749
697   India  1957   409000000     India    40.249  590.061996
698   India  1962   454000000     India    43.605  658.347151
699   India  1967   506000000     India    47.193  700.770611
700   India  1972   567000000     India    50.651  724.032527

In [ ]:
#Find records where continent is either Europe or Asia.
df[~ df['continent'].isin (['Europe','Asia'])].head(11)

        country  year  population continent  life_exp     gdp_cap
0   Afghanistan  1952     8425333     India    28.801  779.445314
1   Afghanistan  1957     9240934     India    30.332  820.853030
2   Afghanistan  1962    10267083     India    31.997  853.100710
3   Afghanistan  1967    11537966     India    34.020  836.197138
4   Afghanistan  1972    13079460     India    36.088  739.981106
5   Afghanistan  1977    14880372     India    38.438  786.113360
6   Afghanistan  1982    12881816     India    39.854  978.011439
7   Afghanistan  1987    13867957     India    40.822  852.395945
8   Afghanistan  1992    16317921     India    41.674  649.341395
9   Afghanistan  1997    22227415     India    41.763  635.341351
10  Afghanistan  2002    25268405     India    42.129  726.734055

In [ ]:
#Find the average life expectancy for each continent.
df.groupby('continent')['life_exp'].mean()

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: life_exp, dtype: float64

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

In [ ]:
#Find total population per continent.
df.groupby('continent')['population'].sum()

continent
Africa       6187585961
Americas     7351438499
Asia        30507333901
Europe       6181115304
Oceania       212992136
Name: population, dtype: int64

In [ ]:
#Find the maximum GDP per capita for each continent.
df.groupby('continent')['gdp_cap'].max()

continent
Africa       21951.21176
Americas     42951.65309
Asia        113523.13290
Europe       49357.19017
Oceania      34435.36744
Name: gdp_cap, dtype: float64

In [ ]:
#Find the minimum life expectancy for each year.
df.groupby('life_exp')['year'].max()

life_exp
23.599    1992
28.801    1952
30.000    1952
30.015    1952
30.331    1952
          ...
81.701    2007
81.757    2007
82.000    2002
82.208    2007
82.603    2007
Name: year, Length: 1626, dtype: int64

In [ ]:
#Find average GDP per capita for each year.
df.groupby('gdp_cap')['year'].mean()

gdp_cap
241.165876       2002.0
277.551859       2007.0
298.846212       1952.0
299.850319       1952.0
312.188423       1997.0
                  ...
80894.883260     1967.0
95458.111760     1962.0
108382.352900    1952.0
109347.867000    1972.0
113523.132900    1957.0
Name: year, Length: 1704, dtype: float64

In [ ]:
#Find the country with highest population in each year.
df.loc[df.groupby('year')['population'].idxmax(),['country','population','year']]

    country  population  year
288   China   556263527  1952
289   China   637408000  1957
290   China   665770000  1962
291   China   754550000  1967
292   China   862030000  1972
293   China   943455000  1977
294   China  1000281000  1982
295   China  1084035000  1987
296   China  1164970000  1992
297   China  1230075000  1997
298   China  1280400000  2002
299   China  1318683096  2007

In [ ]:
#Count number of records per continent.
df['continent'].value_counts()

continent
Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: count, dtype: int64

In [ ]:
#Find top 5 countries with highest life expectancy in 2007.
df[df['year']==2007].sort_values(by='life_exp', ascending=False).head(5)[['country','life_exp']]

               country  life_exp
803              Japan    82.603
671   Hong Kong, China    82.208
695            Iceland    81.757
1487       Switzerland    81.701
71           Australia    81.235

In [ ]:
#Find bottom 5 countries with lowest GDP per capita in 1952.
df[df['year']==1952].sort_values(by='gdp_cap', ascending=True).head(5)[['country','year','gdp_cap']]

            country  year     gdp_cap
876         Lesotho  1952  298.846212
624   Guinea-Bissau  1952  299.850319
492         Eritrea  1952  328.940557
1044        Myanmar  1952  331.000000
204         Burundi  1952  339.296459

In [ ]:
df[df['year']==1952].sort_values('life_exp').head(11)[['year','continent','gdp_cap']]

      year continent      gdp_cap
0     1952      Asia   779.445314
552   1952    Africa   485.230659
36    1952    Africa  3520.610273
1344  1952    Africa   879.787736
1032  1952    Africa   468.526038
192   1952    Africa   543.255241
624   1952    Africa   299.850319
1668  1952      Asia   781.717576
1392  1952    Africa  1135.749842
612   1952    Africa   510.196492
948   1952    Africa   452.336981

In [ ]:
#Find median life expectancy foreachcontinent.
df.groupby('continent')['life_exp'].median()

continent
Africa      47.7920
Americas    67.0480
Asia        61.7915
Europe      72.2410
Oceania     73.6650
Name: life_exp, dtype: float64